<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Police Case Managment System</h2>
            <h4>PCMS</h4>
        </div>
        <img src="https://www.crwflags.com/fotw/images/t/tz_pol.jpg" alt="">
    </div>


<mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a  mat-list-item [routerLink]="[ '/' ]" routerLinkActive="active">Dashboard</a>
    <a  mat-list-item [routerLink]="[ '/posts' ]" routerLinkActive="active">Posts</a>
    <a  mat-list-item [routerLink]="[ '/' ]" routerLinkActive="active">Menu</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a  mat-list-item [routerLink]="[ '/contacts' ]" routerLinkActive="active">
    <mat-icon>import_contacts</mat-icon> 
    Contacts
   </a>


    <a  mat-list-item [routerLink]="[ '/contacts' ]" routerLinkActive="active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
    
</mat-nav-list>





