.contact {
  padding: 20px;
}

h1 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  font-weight: 500;
}

.margin-v {
  margin: 1em 0;
}

.margin-b {
  margin: 0 0 1em 0;
}

.margin-t {
  margin-top: 1em;
}
