<div class="contact">
<h1><b>CONTACTS</b></h1>

<mat-card>
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
           <div fxFlex="48%">
               <mat-card>
                <mat-card-header>
                    <mat-card-title>Osyterbay Police Station</mat-card-title>
                    <mat-card-subtitle>Physcal Address</mat-card-subtitle>
                  </mat-card-header>
               </mat-card>
           </div>
           <div fxFlex="48%">
               <mat-card>
                <mat-card-header>
                    <mat-card-title>Cental Police Station</mat-card-title>
                    <mat-card-subtitle>Physcal Address</mat-card-subtitle>
                  </mat-card-header>
               </mat-card>
           </div>
        </div>  
    </mat-card-content>

    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
            <div fxFlex="48%">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Other Useful Links</mat-card-title>
                        <mat-card-subtitle>Important</mat-card-subtitle>
                      </mat-card-header>                      
                </mat-card>
            </div>

             <div fxFlex="48%">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Other Useful Links</mat-card-title>
                        <mat-card-subtitle>Important</mat-card-subtitle>
                      </mat-card-header>                      
                </mat-card>
            </div>

            <div fxFlex="48">
                <p>Tanzania Goverment </p>
            </div>

            <div fxFlex="48">
                <a  class="buttonLink" mat-stroked-button href="https://www.tanzania.go.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>Minstry Of Home Affairs</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="https://www.moha.go.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>TAMISEMI</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="https://www.tamisemi.go.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>Tanzania Defence Force</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="https://www.tpdf.mil.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>Prison Service</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="http://magereza.go.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>Prison Service</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="http://magereza.go.tz/" target="_blank">Vist</a>
            </div>

            <div  fxFlex="48">
                <p>Immigration Department </p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="mmigration.go.tz/index.php/en/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>Fire and Rescue Force</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="https://frf.go.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>NIDA</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="https://www.nida.go.tz/" target="_blank">Vist</a>
            </div>

            <div fxFlex="48">
                <p>Judiciary</p>
            </div>

            <div fxFlex="48">
                <a class="buttonLink" mat-stroked-button href="https://www.judiciary.go.tz/web/" target="_blank">Vist</a>
            </div>

            
         </div>

    </mat-card-content>
</mat-card>

</div>
