<div class="post">
  <h1><b>REPORT BOOK</b></h1>
 <mat-card class="card">
     <form class="form">
         <div>
             <mat-card class="formCard">
                <div>
                    <mat-form-field class="input-form" appearance="outline">
                        <mat-label>First Name Of Compliant</mat-label>
                        <input matInput placeholder="Ernest Jo" value="">
                      </mat-form-field>

                      <mat-form-field class="input-form" appearance="outline">
                        <mat-label>Second Name Of Compliant</mat-label>
                        <input matInput placeholder="Nzallawahe" value="">
                      </mat-form-field>
                 </div>
             </mat-card>
         </div>
     </form>
     
 </mat-card>

</div>